html,
body {
  font-family: sans-serif;
  font-size: 30px;
  color: #E8F0FA;
  background-image: url(../bgimg.png);
  background-repeat: repeat;
  background-color: #43AFCF;
}

h1 {
  font-family: serif;
  font-size: 60px;
  color: #E8F0FA;
  font-weight: bold;
  padding: 10px;
  margin: 50px;
}

button {
  display: block;
  color: black;
  background-color: #E8F0FA;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 30px auto;
}

#box_container {
  width: 75%;
  position: relative;
  top: 100px;
  margin: auto;
  border-radius: 8px;
  border: 1px black solid;
  background-color: #0585A9;
}

#message {
  padding: 10px;
  margin-top: 20px;
}
